<table class="table table-stripped" border="1"> 
	<thead> 
		<tr> 
			<th> Name  </th>
			<th> Status  </br></th>
			<th></th>
			<th></th>
		</tr> 
	</thead>
	<tbody>
		<% @tags.each do |tag| %>
			<tr>
				<td><%=link_to tag.name, tag_path(tag)	%></td>
				<td><%=tag.status %></td>
				<td><%=link_to "Edit", edit_tag_path(tag) %></td>
				<td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td></td>
			</tr>
		<% end %>
	</tbody>
</table>